@model ToDoList.Models.TaskModel

<div class="resultpage-item">

    <div class="resultpage-item-header">
        <p class="resultpage-item-header-categoryname"><strong> @Model.CategoryName</strong></p>

        <div class="resultpage-item-header-btn">
            
            <form asp-controller="Submit" asp-action="DeleteTask" method="post">
                <input type="hidden" name="id" value="@Model.id" />
                <button title="ОБЕРЕЖНО! ВИДАЛЕННЯ БЕЗ ПІДТВЕРДЖЕННЯ" class="delete" type="submit">Delete</button>
            </form>
            <form asp-controller="Submit" asp-action="Index" method="post">
                <input type="hidden" name="id" value="@Model.id" />
                <button class="update" type="submit">Update</button>
            </form>
            @if (!Model.IsCompleted)
            {
                <form asp-controller="Submit" asp-action="SetIsCompleted" method="post">
                    <input type="hidden" name="id" value="@Model.id" />
                    <button class="completedbtn" title="set completed" type="submit">☐</button>
                </form>
            }
            else
            {
                <form asp-controller="Submit" asp-action="SetUnCompleted" method="post">
                    <input type="hidden" name="id" value="@Model.id" />
                    <button class="completedbtn" title="set uncompleted" type="submit">✔</button>
                </form>
            }
        </div>
    </div>
    <div style="padding: 5px;">
        @if (Model.DueTimeSpan.TotalMinutes < 0 || Model.IsCompleted)
        {
            <p>Завдання: <s>@Model.MyTask</s></p>
        }
        else
        {
            <p><strong>Завдання: </strong>@Model.MyTask</p>
        }
        <br />
        <p class="textforint textforintdark">
            <strong>
                Дата виконання:
            </strong>@Model.DueDate.Day/@Model.DueDate.Month/@Model.DueDate.Year  <strong>
                @Model.DueDate.Hour:@(Model.DueDate.Minute < 9 ? "0" + Model.DueDate.Minute : Model.DueDate.Minute)
            </strong>
        </p>

    </div>


    @if (Model.DueTimeSpan.TotalMinutes > 120 && !Model.IsCompleted)
    {
        <div style="background: green; width: 100%; padding: 5px;">
            <p class="textforint">
                <strong>Залишилось:</strong>
                @Model.DueTimeSpan.Days дн.,
                @Model.DueTimeSpan.Hours год.,
                @Model.DueTimeSpan.Minutes хв.
            </p>
        </div>

    }
    else if (Model.DueTimeSpan.TotalMinutes < 0 || Model.IsCompleted)
    {
        <div style="background: cornflowerblue; width: 100%; padding: 5px;">
            @if (Model.IsCompleted)
            {
                <p class="textforint">
                    <strong>Виконано!</strong>
                </p>
            }
            else if (!Model.IsCompleted)
            {
                <p style="color: black" class="textforint">
                    <strong>Закінчилося:</strong>
                    @Math.Abs(Model.DueTimeSpan.Days)  дн.,
                    @Math.Abs(Model.DueTimeSpan.Hours) год.,
                    @Math.Abs(Model.DueTimeSpan.Minutes) хв. тому
                </p>
            }
        </div>
    }
    else if (Model.DueTimeSpan.TotalMinutes > 0 && Model.DueTimeSpan.TotalMinutes < 120 && !Model.IsCompleted)
    {
        <div style="background: darkred; width: 100%; padding: 5px;">
            <p class="textforint">
                <strong>Залишилось:</strong>
                @Model.DueTimeSpan.Days дн.,
                @Model.DueTimeSpan.Hours год.,
                @Model.DueTimeSpan.Minutes хв.
            </p>
        </div>

    }

</div>